---
layout: default
---

<div class="home">My home on the web, tech posts here, life posts (with my wife) at <a href="http://mudsticksandbones.co.uk/" target="_blank">Mud, Sticks, and Bones</a><br>
	<br>
	Github: {% include icon-github.html username="fiskurgit" %}<br>
	<br>
</div>

<div class="home">

  <h1 class="page-heading">Posts</h1>

    {% for post in site.posts %}
        {{ post.date | date: "%d/%m/%Y" }} <a class="link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br>
    {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
