<section>
    <script src="processing.js"></script>
		<canvas id="sketch" data-processing-sources="elite.pde"  width="300" height="300"></canvas>
		<br>
		<div style="width: 800px;">
		<button onclick="showShip(0);">CORIOLIS</button>
		<button onclick="showShip(1);">NEARCORIOLIS</button>
		<button onclick="showShip(2);">DODO</button>
		<button onclick="showShip(3);">NEARDODO</button>
		<button onclick="showShip(4);">NEARDODO</button>
		<button onclick="showShip(5);">MISSILE</button>
		<button onclick="showShip(6);">TUNNEL</button>
		<button onclick="showShip(7);">TUNNEL2</button>
		<button onclick="showShip(8);">FARTUNNEL2</button>
		<button onclick="showShip(9);">TUNNEL3</button>
		<button onclick="showShip(10);">FARTUNNEL3</button>
		<button onclick="showShip(11);">TUNNEL4</button>
		<button onclick="showShip(12);">FARTUNNEL4</button>
		<button onclick="showShip(13);">FARCANNISTER</button>
		<button onclick="showShip(14);">CANNISTER</button>
		<button onclick="showShip(15);">DOBOX</button>
		<button onclick="showShip(16);">FARDOBOX</button>
		<button onclick="showShip(17);">FARSHEET</button>
		<button onclick="showShip(18);">SHEET</button>
		<button onclick="showShip(19);">FARRADIOCAN</button>
		<button onclick="showShip(20);">RADIOCAN</button>
		<button onclick="showShip(21);">FRAGMENT</button>
		<button onclick="showShip(22);">HARLEQUIN</button>
		<button onclick="showShip(23);">FARASTEROID</button>
		<button onclick="showShip(24);">ASTEROID</button>
		<button onclick="showShip(25);">GENESIS</button>
		<button onclick="showShip(26);">PYRAMID</button>
		<button onclick="showShip(27);">ADDER</button>
		<button onclick="showShip(28);">FARANACONDA</button>
		<button onclick="showShip(29);">ANACONDA</button>
		<button onclick="showShip(30);">OLDASP</button>
		<button onclick="showShip(31);">FARASP</button>
		<button onclick="showShip(32);">ASP</button>
		<button onclick="showShip(33);">FARBOA</button>
		<button onclick="showShip(34);">BOA</button>
		<button onclick="showShip(35);">BUSHMASTER</button>
		<button onclick="showShip(36);">FARCAIMAN</button>
		<button onclick="showShip(37);">CAIMAN</button>
		<button onclick="showShip(38);">FARCOBRAMK1</button>
		<button onclick="showShip(39);">COBRAMK1</button>
		<button onclick="showShip(40);">FARCOBRA</button>
		<button onclick="showShip(41);">COBRA</button>
		<button onclick="showShip(42);">COBRA</button>
		<button onclick="showShip(43);">FARCONSTRICTOR</button>
		<button onclick="showShip(44);">CONSTRICTOR</button>
		<button onclick="showShip(45);">FARESCAPEPOD</button>
		<button onclick="showShip(46);">ESCAPEPOD</button>
		<button onclick="showShip(47);">FARFERDELANCE</button>
		<button onclick="showShip(48);">FERDELANCE</button>
		<button onclick="showShip(49);">HAWK</button>
		<button onclick="showShip(50);">HOGNOSE</button>
		<button onclick="showShip(51);">FARMAMBA</button>
		<button onclick="showShip(52);">MAMBA</button>
		<button onclick="showShip(53);">FARMOCCASIN</button>
		<button onclick="showShip(54);">MOCCASIN</button>
		<button onclick="showShip(55);">FARGECKO</button>
		<button onclick="showShip(56);">GECKO</button>
		<button onclick="showShip(57);">KRAIT</button>
		<button onclick="showShip(58);">FARMORAY</button>
		<button onclick="showShip(59);">MORAY</button>
		<button onclick="showShip(60);">FARORBITSHUTTLE</button>
		<button onclick="showShip(61);">ORBITSHUTTLE</button>
		<button onclick="showShip(62);">FARPYTHON</button>
		<button onclick="showShip(63);">PYTHON</button>
		<button onclick="showShip(64);">FARRACER</button>
		<button onclick="showShip(65);">RACER</button>
		<button onclick="showShip(66);">FARREMLOCK</button>
		<button onclick="showShip(67);">REMLOCK</button>
		<button onclick="showShip(68);">FARSIDEWINDER</button>
		<button onclick="showShip(69);">SIDEWINDER</button>
		<button onclick="showShip(70);">FARTHARGON</button>
		<button onclick="showShip(71);">THARGON</button>
		<button onclick="showShip(72);">THARGOID</button>
		<button onclick="showShip(73);">TRANSPORTER</button>
		<button onclick="showShip(74);">FARURUTU</button>
		<button onclick="showShip(75);">URUTU</button>
		<button onclick="showShip(76);">FARVIPER</button>
		<button onclick="showShip(77);">VIPER</button>
		<button onclick="showShip(78);">WORM</button>
		<button onclick="showShip(79);">ZARCH</button>
		</div>
		<script type="application/javascript">
         var processingInstance;

         function showShip(shipIndex) {
             if (!processingInstance) {
                 processingInstance = Processing.getInstanceById('sketch');
             }

						 processingInstance.setShipIndex(shipIndex);
         }
     </script>
   </section>
