<section>
    <script src="processing.js"></script>
		<canvas id="sketch" data-processing-sources="elite.pde"  width="300" height="300"></canvas>
		<br>
		<div style="width: 800px;">
      <button onclick="showShip(0);">Coriolis</button>
      <button onclick="showShip(1);">Nearcoriolis</button>
      <button onclick="showShip(2);">Dodo</button>
      <button onclick="showShip(3);">Neardodo</button>
      <button onclick="showShip(4);">Neardodo</button>
      <button onclick="showShip(5);">Missile</button>
      <button onclick="showShip(6);">Tunnel</button>
      <button onclick="showShip(7);">Tunnel2</button>
      <button onclick="showShip(8);">Fartunnel2</button>
      <button onclick="showShip(9);">Tunnel3</button>
      <button onclick="showShip(10);">Fartunnel3</button>
      <button onclick="showShip(11);">Tunnel4</button>
      <button onclick="showShip(12);">Fartunnel4</button>
      <button onclick="showShip(13);">Farcannister</button>
      <button onclick="showShip(14);">Cannister</button>
      <button onclick="showShip(15);">Dobox</button>
      <button onclick="showShip(16);">Fardobox</button>
      <button onclick="showShip(17);">Farsheet</button>
      <button onclick="showShip(18);">Sheet</button>
      <button onclick="showShip(19);">Farradiocan</button>
      <button onclick="showShip(20);">Radiocan</button>
      <button onclick="showShip(21);">Fragment</button>
      <button onclick="showShip(22);">Harlequin</button>
      <button onclick="showShip(23);">Farasteroid</button>
      <button onclick="showShip(24);">Asteroid</button>
      <button onclick="showShip(25);">Genesis</button>
      <button onclick="showShip(26);">Pyramid</button>
      <button onclick="showShip(27);">Adder</button>
      <button onclick="showShip(28);">Faranaconda</button>
      <button onclick="showShip(29);">Anaconda</button>
      <button onclick="showShip(30);">Oldasp</button>
      <button onclick="showShip(31);">Farasp</button>
      <button onclick="showShip(32);">Asp</button>
      <button onclick="showShip(33);">Farboa</button>
      <button onclick="showShip(34);">Boa</button>
      <button onclick="showShip(35);">Bushmaster</button>
      <button onclick="showShip(36);">Farcaiman</button>
      <button onclick="showShip(37);">Caiman</button>
      <button onclick="showShip(38);">Farcobramk1</button>
      <button onclick="showShip(39);">Cobramk1</button>
      <button onclick="showShip(40);">Farcobra</button>
      <button onclick="showShip(41);">Cobra</button>
      <button onclick="showShip(42);">Cobra</button>
      <button onclick="showShip(43);">Farconstrictor</button>
      <button onclick="showShip(44);">Constrictor</button>
      <button onclick="showShip(45);">Farescapepod</button>
      <button onclick="showShip(46);">Escapepod</button>
      <button onclick="showShip(47);">Farferdelance</button>
      <button onclick="showShip(48);">Ferdelance</button>
      <button onclick="showShip(49);">Hawk</button>
      <button onclick="showShip(50);">Hognose</button>
      <button onclick="showShip(51);">Farmamba</button>
      <button onclick="showShip(52);">Mamba</button>
      <button onclick="showShip(53);">Farmoccasin</button>
      <button onclick="showShip(54);">Moccasin</button>
      <button onclick="showShip(55);">Fargecko</button>
      <button onclick="showShip(56);">Gecko</button>
      <button onclick="showShip(57);">Krait</button>
      <button onclick="showShip(58);">Farmoray</button>
      <button onclick="showShip(59);">Moray</button>
      <button onclick="showShip(60);">Farorbitshuttle</button>
      <button onclick="showShip(61);">Orbitshuttle</button>
      <button onclick="showShip(62);">Farpython</button>
      <button onclick="showShip(63);">Python</button>
      <button onclick="showShip(64);">Farracer</button>
      <button onclick="showShip(65);">Racer</button>
      <button onclick="showShip(66);">Farremlock</button>
      <button onclick="showShip(67);">Remlock</button>
      <button onclick="showShip(68);">Farsidewinder</button>
      <button onclick="showShip(69);">Sidewinder</button>
      <button onclick="showShip(70);">Farthargon</button>
      <button onclick="showShip(71);">Thargon</button>
      <button onclick="showShip(72);">Thargoid</button>
      <button onclick="showShip(73);">Transporter</button>
      <button onclick="showShip(74);">Farurutu</button>
      <button onclick="showShip(75);">Urutu</button>
      <button onclick="showShip(76);">Farviper</button>
      <button onclick="showShip(77);">Viper</button>
      <button onclick="showShip(78);">Worm</button>
      <button onclick="showShip(79);">Zarch</button>
		</div>
		<script type="application/javascript">
         var processingInstance;

         function showShip(shipIndex) {
             if (!processingInstance) {
                 processingInstance = Processing.getInstanceById('sketch');
             }

						 processingInstance.setShipIndex(shipIndex);
         }
     </script>
   </section>
