---
---

@import "{{ site.theme }}";
body{
  color: #555b60;
  background-color: #d7d7d7;
}
a {
    color: #555b60;
    text-decoration: underline;
}
.container-lg {
    max-width: 1012px;
    margin-right: auto;
    margin-left: 0;
}

.markdown-body h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #555b60;
}
.markdown-body h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #c3c3c3;
}
