---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
body{
  color: #555b60;
  background-color: #ffffff;
}
.fiskheader{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 4em;
  color: #16161d;
  padding-left: 0.2em;
  position: fixed;
  top: 0;
  width: 100%;
}
.markdown-body img {
    max-width: 50%;
    box-sizing: content-box;
    background-color: #ffffff
}
a {
    color: #555b60;
    text-decoration: underline;
}
.container-lg {
    //max-width: 1012px;
    margin-right: auto;
    margin-left: 0;
}

.markdown-body h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #555b60;
}
.markdown-body h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #c3c3c3;
}

.border-gray-light {
    border-color: #c3c3c3 !important;
}
