---
---

@import "{{ site.theme }}";
body{
  color: #ffffff;
  background-color: #000000;
}
a {
    color: #ffffff;
    text-decoration: underline;
}
.container-lg {
    max-width: 1012px;
    margin-right: auto;
    margin-left: 0;
}
